<ion-header>
  <ion-toolbar>
    <ion-title>faculty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <div class="row">
      <div  class="col-6 col-md-4">
          <div class="well">
            <img src="assets/img/Dr Minoru Ono.png" width="100px">
            <h4>Dr Name..</h4>
          </div>
      </div>
        <div  class="col-6 col-md-4">
          <div class="well">
            <img src="assets/img/Doris.png" width="100px">
            <h4>Dr Name..</h4>
          </div>
      </div>
        <div  class="col-6 col-md-4">
          <div class="well">
            <img src="assets/img/Dr Vivek_Rao.png" width="100px">
            <h4>Dr Name..</h4>
          </div>
      </div>
      <div  class="col-6 col-md-4">
        <div class="well">
          <img src="assets/img/japp.png" width="100px">
          <h4>Dr Name..</h4>
        </div>
      </div>
      <div  class="col-6 col-md-4">
        <div class="well">
          <img src="assets/img/Jeffrey.png" width="100px">
          <h4>Dr Name..</h4>
        </div>
      </div>
      <div  class="col-6 col-md-4">
        <div class="well">
          <img src="assets/img/manreet.png" width="100px">
          <h4>Dr Name..</h4>
        </div>
      </div>
      <div  class="col-6 col-md-4">
        <div class="well">
          <img src="assets/img/Dr. Terence Kee.png" width="100px">
          <h4>Dr Name..</h4>
        </div>
      </div>
      <div  class="col-6 col-md-4">
        <div class="well">
          <img src="assets/img/Dr Minoru Ono.png" width="100px">
          <h4>Dr Name..</h4>
        </div>
      </div>
      <div  class="col-6 col-md-4">
        <div class="well">
          <img src="assets/img/Dr Minoru Ono.png" width="100px">
          <h4>Dr Name..</h4>
        </div>
      </div>
  </div>
</div>

  

</ion-content>
