




<div class="container">
    <div class="row">
      <div class="col-4">
          <div class="well">
            <img src="https://image.flaticon.com/icons/svg/2244/2244396.svg" width="60px">            
            <p>Lorem ipsum .</p>
          </div>
      </div>
      <div class="col-4">
          <div class="well">
            <img src="https://image.flaticon.com/icons/svg/2244/2244396.svg" width="60px">            
            <p>Lorem ipsum .</p>
          </div>
      </div>
      <div class="col-4">
          <div class="well">
            <img src="https://image.flaticon.com/icons/svg/2244/2244433.svg" width="60px">            
            <p>Lorem ipsum .</p>
          </div>
      </div>
      <div class="col-4">
          <div class="well">
            <img src="https://image.flaticon.com/icons/svg/2244/2244421.svg" width="60px">            
            <p>Lorem ipsum .</p>
          </div>
      </div>
      <div class="col-4">
          <div class="well">
            <img src="https://image.flaticon.com/icons/svg/2244/2244396.svg" width="60px">            
            <p>Lorem ipsum .</p>
          </div>
      </div>
      <div class="col-4">
          <div class="well">
            <img src="https://image.flaticon.com/icons/svg/2244/2244396.svg" width="60px">            
            <p>Lorem ipsum .</p>
          </div>
      </div>
    </div>
  </div>
  